*.vsidx
Tutorial/Tutorial_DirectX11/.vs/Tutorial_DirectX11/v17/Browse.VC.db
*.db
*.db
*.db
Tutorial/Tutorial_DirectX11/.vs/Tutorial_DirectX11/v17/Browse.VC.opendb
Tutorial/Tutorial_DirectX11/Tutorial.1b772c4e/x64/Debug/Tutorial.1b772c4e.tlog/CL.read.1.tlog
Tutorial/Tutorial_DirectX11/Tutorial.1b772c4e/x64/Debug/vc143.pdb
Tutorial/Tutorial_DirectX11/Tutorial.1b772c4e/x64/Debug/vc143.idb
*.idb
Tutorial/Tutorial_DirectX11/.vs/Tutorial_DirectX11/v17/ipch/AutoPCH/707f45265a44d4d4/APPWINDOW.ipch
Tutorial/Tutorial_DirectX11/.vs/Tutorial_DirectX11/v17/ipch/AutoPCH/707f45265a44d4d4/APPWINDOW.ipch
*.ipch
Tutorial/Tutorial_DirectX11/.vs/Tutorial_DirectX11/v17/.suo
Tutorial/Tutorial_DirectX11/.vs/Tutorial_DirectX11/v17/.suo
Tutorial/Tutorial_DirectX11/.vs/Tutorial_DirectX11/v17/.suo
*.db
*.db
*.tlog
*.obj
*.pdb
*.obj
*.json
*.ipch
