*.vsidx
Tutorial/Tutorial_DirectX11/.vs/Tutorial_DirectX11/v17/Browse.VC.db
*.db
*.db
*.db
Tutorial/Tutorial_DirectX11/.vs/Tutorial_DirectX11/v17/Browse.VC.opendb
/.vs/Tutorial_DirectX11/v17/ipch/AutoPCH/112a902deab3f082
/.vs
/Tutorial.1b772c4e/x64/Debug
