*.ipch
/Tutorial/Tutorial_DirectX11/.vs/Tutorial_DirectX11/v17
/Tutorial/Tutorial_DirectX11/.vs/Tutorial_DirectX11/v17/ipch/AutoPCH/1f10fee66ff3c763
/Tutorial/Tutorial_DirectX11/.vs/Tutorial_DirectX11/v17
*.db
